@model S2G6_PVFAPP.Models.Product_Line

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product_Line</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productlineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productlineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productlineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
