@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The company sells a number of different furniture products.</p>
<p>These products are grouped into several product lines.</p>
<p>The identifier for a product is Product_ID, while the identifier for a product line is Product_Line_ID.</p>
<p>Referring to the customer invoice, we identify the following additional attributes for product: Product_Description, Product_Finish, and Unit_Price.</p>
<p>Another attribute fro product line is Product_Line_Name.</p>
<p>A product line may group any number of products, but must group at least one product.</p>
<p>Each product must belong to exactly one product line</p>
