@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3></h3>


<div class="row">
    <center>
        <div class="col-md-4">
            <img src="https://i.ibb.co/KKbxzTz/Harsh.jpg" class="img-rounded" alt="Cinque Terre" width="160" height="150">
            <address>
                <br />Harsh Sutariya<br />
                <abbr title="Student ID">ID:</abbr>
                105119906<br />
                <abbr title="Phone">P:</abbr>
                519.982.5268
            </address>
            <address>
                <strong>e-mail:</strong>   <a href="">sutariyh@uwindsor.ca</a><br />
            </address>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <img src="https://i.ibb.co/7YmNsLf/aakarsha.jpg" class="img-rounded" alt="Cinque Terre" width="160" height="150">
            <address>
                <br />Aakarsha Mahajan<br />
                <abbr title="Student ID">ID:</abbr>
                105103000<br />
                <abbr title="Phone">P:</abbr>
                647.914.7990<br />
            </address>
            <address>
                <strong>e-mail:</strong>   <a href="">mahaj113@uwindsor.ca</a><br />
            </address>
        </div>
    </center>
    <center>
        <div class="col-md-4">
            <img src="https://i.ibb.co/NVF2z9h/shivasai.jpg" class="img-rounded" alt="Cinque Terre" width="160" height="150">
            <address>
                <br />Shiva Sai Mashetty<br />
                <abbr title="Student ID">ID:</abbr>
                105155423<br />
                <abbr title="Phone">P:</abbr>
                647.612.2699<br />
            </address>
            <address>
                <strong>e-mail:</strong>   <a href="">mashett@uwindsor.ca</a><br />
            </address>
        </div>
    </center>
</div>
